@mixin grid-compat($columns) {
	body.no-js {
		&.grid article:nth-child(4n+0),
		.related-content article:nth-child(4n+1) {
			@if $debug { background: none; }
			margin-right: 60px;
		}

		&.grid article:nth-child(4n+0) + article,
		.related-content article:nth-child(4n+1) + article {
			@if $debug { background: none; }
			clear: none;
		}

		&.grid article:nth-child(#{$columns}n+0),
		.related-content article:nth-child(#{$columns}n+1) {
			@if $debug { background: red !important; }
			margin-right: 0 !important;
		}

		&.grid article:nth-child(#{$columns}n+0) + article,
		.related-content article:nth-child(#{$columns}n+1) + article {
			@if $debug { background: blue; }
			clear: left !important;
		}
	}
}

@media screen and (max-width: 1200px) {
	#page { width: 1140px - ( 150px + 60px ) }
	#primary { width: 780px - ( 150px + 60px ) }
}

@media screen and (max-width: 992px) {
	#page { width: 1140px - ( 150px + 60px ) - 360px; }
	#primary { width: 100%; }
	#secondary { width: 100%; }

	.entry-content img.size-full,
	.entry-content img.size-large {
		max-width: 100%;
	}

	/* Mobile Menu */
	#semicolon-navigation ul {
		display: none;
	}

	.menu-toggle {
		display: block;
		font-family: $font-regular;
		font-size: 16px;
		line-height: 52px;
		height: 60px;
		font-weight: 400;
		border-top: solid 4px transparent;

		margin: -1px 0 0 0;
		padding: 0;

		&:before {
			display: inline-block;
			font-weight: normal;
			font-family: Genericons;
			content: '\f419';
			font-size: 16px;
			line-height: 52px;
			padding-right: 10px;
			-webkit-font-smoothing: antialiased;
			vertical-align: top;
		}
	}

	.main-navigation.toggled {
		.current_page_item,
		.current-menu-item,
		.current-post-ancestor,
		.current-menu-ancestor,
		.current-menu-parent,
		.current-post-parent {
			a {
				border-top-color: transparent;
				background: rgba( $color-secondary, 0.03 );
			}
		}

		#semicolon-navigation ul {
			display: block;
			border-bottom: solid 1px rgba( $color-secondary, 0.1 );

			li {
				display: block;
				float: none;
				clear: left;

				a {
					padding: 0 26px;
				}
			}
		}

		.menu-toggle {
			border-top-color: $color-secondary;
			border-bottom: solid 1px rgba( $color-secondary, 0.1 );
		}
	}

	#semicolon-social {
		position: absolute;
		top: 0;
		right: 0;

		li a {
			line-height: 60px;
		}
	}
}

@media screen and (max-width: 680px) {
	#page { width: 1140px - ( 150px + 60px ) * 2 - 360px; }
	#primary { width: 100%; }

	.grid article .entry-title {
		width: 100% !important;
	}
}

@media screen and (max-width: 479px) {

}